.search_box input
{
    border-radius: 20px;
    border: 2px solid #696763;
}

a
{
    color: #476b6b; 
}

.cartPreview
{
    height: min-content;
}

.btnOrder
{
    width: 60%;
    background: #476b6b;
    border: 0 none;
    border-radius: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
    border-radius: 5px;
}

.glyphicon-remove
{
    width: inherit;
    width: 500px;
}

.glyphicon-remove:hover
{
    background-color: #476b6b;
}

section table tr td
{
    height: 50px;
    max-width: 100%;
}

section table tr td img
{
    height: 100%;
    display: block;
    margin: 0 auto;
}

.popup
{
    margin: auto;
    width: min-content;
    height: auto;
    background-color: white;
    color: black;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    padding: 10px;
    display: none;

    border: solid gray 2px;
    border-radius: 5px;
}

.popup div
{
    display: inline-block;
    width: min-content;
    white-space: nowrap;
}

.popup div h2
{
    display: inline-block;
}

#msgBox
{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 500px;
    line-height: 500px;
    height: 100px;
    background: rgb(179, 0, 0);

    border-radius: 20px;
}

.accountBlock
{
    margin-top: 25px;
    border: 2px solid rgba(105, 103, 99, 0.4);
    border-radius: 25px;
}

.accountBlock h1
{
    color: #696763;
}

.accountBlock .row
{
    margin-bottom: 5px;
}

.navbar-fixed-bottom
{
    background: #D6D6D0
}

.features_items .figure .row
{
    height : 150px;
    margin: 0 auto;
    line-height: 150px;
}

.features_items .figure .row img
{
    display: inline-block;
    margin: 0 auto;
    max-height: 100%;
}

.product-details
{
    height: 280px;
}

.product-details .left-img
{
    height: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
}

.product-details .left-img img
{
    max-height: 100%;
    max-width: 100%;
}