.search_box input
{
    border-radius: 20px;
    border: 2px solid #696763;
}

#msgBox
{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 500px;
    line-height: 500px;
    height: 100px;
    background: rgb(179, 0, 0);

    border-radius: 20px;
}

.accountBlock
{
    margin-top: 25px;
    border: 2px solid rgba(105, 103, 99, 0.4);
    border-radius: 25px;
}

.accountBlock h1
{
    color: #696763;
}

.accountBlock .row
{
    margin-bottom: 5px;
}

.navbar-fixed-bottom
{
    background: #D6D6D0
}

.features_items .figure .row
{
    height : 150px;
    margin: 0 auto;
    line-height: 150px;
}

.features_items .figure .row img
{
    display: inline-block;
    margin: 0 auto;
    max-height: 100%;
}

.product-details
{
    height: 280px;
}

.product-details .left-img
{
    height: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
}

.product-details .left-img img
{
    max-height: 100%;
    max-width: 100%;
}